<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c1ef0140-fd78-480f-a840-3ab6d743d11c/resourceGroups/TeaSalesGrp/providers/Microsoft.Web/sites/Ootea</ResourceId>
    <ResourceGroup>TeaSalesGrp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://ootea-dzb5hucphkc2gydk.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://ootea-dzb5hucphkc2gydk.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>REDACTED</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>