@page
@model Library.Pages.AddTeaModel
@{
    ViewData["Title"] = "Add a Tea Brand";
}

<h2>Add a Book</h2>

<form method="post">
    
    <div>
        <label for="TeaName">Tea Brand Name:</label>
        <input type="text" id="TeaName" name="NewTea.TeaName" maxlength="100" required />
    </div>
    <button type="submit">Add Tea Brand</button>
</form>

@if (!ModelState.IsValid)
{
    <p style="color: red;">There was an error. Please check the form inputs.</p>
}

